body {
  background-color: white;
}

h1 {
  text-align:center; 
  color: black;
}

#p01 {
  text-align: center;
  color: black;
  font-size: 100%;
}

#p02{
  text-align:center; 
  margin-bottom:40px; 
  margin-top:-10px;
}