body {
  background-color: white;
}

h1 {
  text-align:center; 
  color: black;
}

p.class1 {
  text-align: center;
  color: black;
  font-size: 100%;
}

p.class2{
  text-align:center; 
  margin-bottom:40px; 
  margin-top:-10px;
  
}

a:hover{
  background-color:black;
  color: white;
}

b:hover{
  background-color:yellow;
}