body {
  background-color: white;
}

h1 {
  text-align:center; 
  color: black;
}

p.class1 {
  text-align: center;
  color: black;
  font-size: 18px;
}

p.class2{
  text-align:center; 
  margin-bottom:40px; 
  margin-top:-10px;
}

p.class3{
  text-align:center; 
  margin-bottom:40px; 
  margin-top:-10px;
  font-size: 10px;
}

a:hover{
  background-color:black;
  color: white;
}

b:hover{
  background-color:yellow;
}

img{
  max-width:80%;
  max-height:80%;
}